.dropzone {
  inset: 0;
  position: fixed;
}

.contents {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.count {
  font-size: 2rem;
  text-align: center;
  line-height: 1.2;
}

.total {
  font-size: 5rem;
  font-weight: bold;
}
